<!DOCTYPE html>
<html>
  <head>
    <title>that damn notes app</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/script.js"></script>

  </body>
</html>